# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Environment variables
.env
.env.*

# Database (local, optional if using Neon)
*.db
*.sqlite3

# Pytest / coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Distribution / packaging
