version: "3.9"

services:
  analytics-service:
    build: .
    ports:
      - "8004:8000"
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
